* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    margin: 0;
}
nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: black;
    margin-bottom: 5px;
}
nav .logo {
    width: 150px;
    cursor: pointer;
}
nav .menu-icon {/*hemburger menu icon in navbar*/
    width: 50px;
    cursor: pointer;
}
nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
    margin: 0 20px;
}
nav a { /*galaxy fold6 in navbar*/
    text-decoration: none;
    color: white;
    font-family: "Akshar";
    font-size: xx-large;
    font-weight: 900;
    padding: 10px;
    transition: color 0.3s;
}
nav ul li a {/*sections in navbar*/
    text-decoration: none;
    color: white;
    font-family: "Arial";
    font-size: medium;
    font-weight: 700;
    padding: 10px;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #3284ff;
}
.acheter-button {/*acheter botton inside navbar */
    background-color: white;
    color: black;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.acheter-button:hover {
    background-color: #3284ff;
    color: #000000;
}
.contenair{
    position: relative;
}
img {/* fold6 image */
    width: 100%;
    object-fit: fill;
}
button {/*acheter botton inside the image */
    background-color: transparent;
    color: black;
    position: absolute;
    left: 45%;
    bottom: 70%;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
button:hover {
    background-color: #000000;
    color: #ffffff;
}
.galaxy-ai{/*galaxy ai section*/
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
div h1{/*galaxy ai section title*/
    font-size: 90px;
    font-weight: bolder;
}
div p{/*galaxy ai section paragraph*/
    font-size: x-large;
    font-weight: bolder;
}
.galaxy-ai img{/*galaxy ai section stars*/
    position: relative;
    width: 400px;
    height: 400px;
    left: 33%;
}
.jeux-tit{
    margin: 0;
    padding: initial;
}
.jeux-tit h1{
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
.ecran{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    display: flex;
}
.ec-par{
    flex: 2;
}
.ec-par div{
    text-align: left;
    font-size: 60px;
    font-weight: bolder;
    line-height: 0.8;
    padding-left: 30px;
} 
.ecran p{
    text-align: left;
    font-weight: bold;
    padding-right: 200px;
    padding-left: 30px;
}
.ecran-spec p span{
    color: #6500f2;
    background-color: #000000;
    font-size: 60px;
    font-weight: bolder;
}
.ecran-spec{
    flex-direction: column;
    color: #ffffff;
    background-color: #000000;
    font-size: 30px;
    font-weight: bolder;
    padding: 0px;
}

.FAQ h1{
    text-align: left;
    font-family: "Akshar";
    font-size: 60px;
    font-weight: bolder;
    padding-right: 200px;
    padding-left: 30px;
}
.FAQ h2{
    text-align: left;
    font-family: "Akshar";
    font-size: 30px;
    font-weight: bolder;
    padding-right: 200px;
    padding-left: 60px;
}
.FAQ p{
    text-align: left;
    font-family: "Arial";
    font-size: 15px;
    font-weight: normal;
    padding-right: 300px;
    padding-left: 100px;
}
footer{
    display: flex;
}
footer a{
    padding-left: 90px;
    font-weight: bold;
    font-size: 12px;
    color: #545454;
}
@media (max-width: 870px) {/* tablet dimensions */
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: black;
        display: none;
        width: 100%;
    }
    nav ul.active {
        display: flex;
    }
    nav .menu-icon {
        display: block;
    }
    button { /* botton inside the image */
        background-color: transparent;
        color: black;
        position: absolute;
        left: 41%;
        font-size: 20px;
        bottom: 66%;
        font-weight: 900;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 50px;
    }
    div h1{
        font-size: 60px;
        font-weight: bolder;
    }
    div p{
        font-size: 25px;
        font-weight: normal;
    }
    .galaxy-ai img{
        position: relative;
        width: 200px;
        height: 200px;
        left: 33%;
    }
    .jeux-tit{
        margin: 0;
        padding: initial;
    }
    .jeux-tit h1{
        margin: 0;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        font-size: 60px;
        padding: 0px 10px;
    }
    .ecran{
        background-color: #000000;
        color: #ffffff;
        text-align: center;
    }
    .ecran{
        display: flex;
    }
    .ec-par div{
        text-align: left;
        font-size: 50px;
        font-weight: bolder;
        line-height: 0.8;
        padding-left: 30px;
    }
    .ecran p{
        text-align: left;
        font-weight: normal;
        padding-right: 200px;
        padding-left: 30px;
        font-size: 20px;
    }
    .ecran-spec p{
        text-align: left;
        color: #ffffff;
        background-color: #000000;
        font-size: 30px;
        font-weight: bolder;
        padding: 0px;
    }
    .ecran-spec p span{
        text-align: left;
        color: #6500f2;
        background-color: #000000;
        font-size: 60px;
        font-weight: bolder;
    }
    .FAQ h1{
        text-align: left;
        font-family: "Akshar";
        font-size: 60px;
        font-weight: bolder;
        padding-right: 0px;
        padding-left: 15px;
    }
    .FAQ h2{
        text-align: left;
        font-family: "Akshar";
        font-size: 30px;
        font-weight: bolder;
        padding-right: 0px;
        padding-left: 30px;
    }
    .FAQ p{
        text-align: left;
        font-family: "Arial";
        font-size: 20px;
        font-weight: normal;
        padding-right: 0px;
        padding-left: 50px;
    }
    footer{
        display: flex;
    }
    footer a{
        padding-left: 30px;
        font-weight: bold;
        font-size: 13px;
        color: #545454;
    }

}
@media (max-width: 675px) {/* big tablete dimensions */
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: black;
        display: none;
        width: 100%;
    }
    nav ul.active {
        display: flex;
    }
    nav .menu-icon {
        display: block;
    }
    button { /* botton inside the image */
        background-color: transparent;
        color: black;
        position: absolute;
        left: 43%;
        font-size: 12px;
        bottom: 67%;
        font-weight: 800;
        padding: 6px 10px;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 50px;
    }
    div h1{
        font-size: 50px;
        font-weight: bolder;
    }
    div p{
        font-size: 20px;
        font-weight: normal;
    }
    .galaxy-ai img{
        position: relative;
        width: 200px;
        height: 200px;
        left: 31%;
    }
    .jeux-tit{
        margin: 0;
        padding: initial;
    }
    .jeux-tit h1{
        margin: 0;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        font-size: 50px;
        padding: 0px 10px;
    }
    .ecran{
        background-color: #000000;
        color: #ffffff;
        text-align: center;
    }
    .ecran{
        display: flex;
    }
    .ec-par div{
        text-align: left;
        font-size: 30px;
        font-weight: bolder;
        line-height: 0.8;
        padding-left: 30px;
    }
    .ecran p{
        text-align: left;
        font-weight: normal;
        padding-right: 40px;
        padding-left: 30px;
        font-size: 20px;
    }
    .ecran-spec p{
        text-align: left;
        color: #ffffff;
        background-color: #000000;
        font-size: 20px;
        font-weight: bolder;
        padding: 0px;
    }
    .ecran-spec p span{
        text-align: left;
        color: #6500f2;
        background-color: #000000;
        font-size: 40px;
        font-weight: bolder;
    }
    .FAQ h1{
        text-align: left;
        font-family: "Akshar";
        font-size: 40px;
        font-weight: bolder;
        padding-right: 0px;
        padding-left: 15px;
    }
    .FAQ h2{
        text-align: left;
        font-family: "Akshar";
        font-size: 20px;
        font-weight: bolder;
        padding-right: 0px;
        padding-left: 30px;
    }
    .FAQ p{
        text-align: left;
        font-family: "Arial";
        font-size: 15px;
        font-weight: normal;
        padding-right: 0px;
        padding-left: 50px;
    }
    footer{
        display: flex;
    }
    footer a{
        padding-left: 30px;
        font-weight: bold;
        font-size: 10px;
        color: #545454;
    }

}
@media (max-width: 430px) {/* phone dimensions */
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: black;
        display: none;
        width: 100%;
    }
    nav ul.active {
        display: flex;
    }
    nav .menu-icon {
        display: block;
    }
    button {
        background-color: transparent;
        color: black;
        position: absolute;
        left: 41%;
        font-size: 8px;
        bottom: 66%;
        font-weight: 700;
        padding: 5px 10px;
        transition: background-color 0.3s, color 0.3s;
    }
    div h1{
        font-size: xx-large;
        font-weight: bolder;
    }
    div p{
        font-size: 12px;
        font-weight: normal;
    }
    .galaxy-ai img{
        position: relative;
        width: 100px;
        height: 100px;
        left: 33%;
    }
    .jeux-tit{
        margin: 0;
        padding: initial;
    }
    .jeux-tit h1{
        margin: 0;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        font-size: xx-large;
        padding: 0px 10px;
    }
    .ecran{
        background-color: #000000;
        color: #ffffff;
        text-align: center;
    }
    .ecran{
        display: flex;
    }
    .ec-par div{
        text-align: left;
        font-size: 25px;
        font-weight: bolder;
        line-height: 0.8;
        padding-left: 30px;
    }
    .ecran p{
        text-align: left;
        font-weight: normal;
        padding-right: 0px;
        padding-left: 30px;
        font-size: 10px;
    }
    .ecran-spec p{
        text-align: left;
        color: #ffffff;
        background-color: #000000;
        font-size: 10px;
        font-weight: bolder;
        padding: 0px;
    }
    .ecran-spec p span{
        text-align: left;
        color: #6500f2;
        background-color: #000000;
        font-size: 15px;
        font-weight: bolder;
    }
    .FAQ h1{
        text-align: left;
        font-family: "Akshar";
        font-size: 30px;
        font-weight: bolder;
        padding-right: 0px;
        padding-left: 15px;
    }
    .FAQ h2{
        text-align: left;
        font-family: "Akshar";
        font-size: 15px;
        font-weight: bolder;
        padding-right: 0px;
        padding-left: 30px;
    }
    .FAQ p{
        text-align: left;
        font-family: "Arial";
        font-size: 15px;
        font-weight: normal;
        padding-right: 0px;
        padding-left: 50px;
    }
    footer{
        display: flex;
    }
    footer a{
        padding-left: 30px;
        font-weight: bold;
        font-size: 5px;
        color: #545454;
    }

}
